:root {

}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.navBar {
    display: flex;
    float: right;
    justify-content: space-between;
    min-width: 300px;
    justify-content: flex-end;
    margin: 35px;
} 

.navBar li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: black;
}

.hero-banner div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("/portfolio/assets/images/02-hero-bg.jpg");
    padding: 50px;
}

.page-section {
    display: block;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
    margin-right: 50px;
}
.page-section h2 {
    display: block;
    justify-content: space-between;
    padding-right: 1%;
    border-right: solid black 1px;
    position: relative;
    left: -4%;
}

.abtMe {
    padding-left: 10px;
}


#profPic {
    display: flex;
    justify-content: center;
    border-radius: 500px;
    width: 150px;
}

#about {
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

#projects {
    margin-left: 100px;
    margin-right: 100px;
}

#projects h2 {
    position: relative;
    left: -9%;
    top: 0px;
    margin-left: 15px;
}

#portfolio-container > h2 {
    padding-left: 50px;
}

#categoryGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "proj1 proj1"
    "proj2 proj3";
}

 #proj1 {
    grid-area: proj1;
    background-image: url("/portfolio/assets/images/prework\ image.png");
    padding: 15%;
    
}

#proj2 {
    grid-area: proj2;
    background-image: url("/portfolio/assets/images/Horiseon\ Image.png");
    padding: 15%;
    background-size: 100%;
}

#proj3 {
    grid-area: proj3;
    background-image: url("/portfolio/assets/images/02-portfolio-4.jpg");
    padding: 15%;
    background-size: 100%;
}

.cards {
    margin: 10px;
    padding: 5px;
    border: dashed black 2px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: grid;
    align-content: end;
}

.cards .projHead {
    background-color: rgba(28, 116, 138, 0.925);
    padding: 15px;
    font-size: 18px;
    position: relative;
    top: 70px;
    left: -80px;
}

#contact > h2 {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

#contact-li {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 30px;
    
}

@media only screen and (max-width: 600px) {
  #categoryGrid {
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "proj1"
      "proj2"
      "proj3";
  }

  .cards .projHead {
    background-color: rgba(28, 116, 138, 0.925);
    padding: 15px;
    font-size: 18px;
    position: relative;
    top: 50px;
    left: -30px;
}
}
